.button-join-us {
    -fx-background-color: #ffffff;
    -fx-background-radius: 100;

}

.pane {
    -fx-background-color: #07bde8;
    -fx-background-radius: 35;

}

.pane-2 {
    -fx-background-color: #ffffff;
    -fx-background-radius: 35;

}